$transition: all 300ms linear;

.ManagementAppLayOut{
    .navbar{
        .minimize-left{
            width: 60px;
            transition: $transition;
            justify-content: center;
        }
        .minimize-content{
            margin-left: 60px;
            transition: $transition;
            margin-right: 0;
        }
        .show-right{
            transform: translateX(0);
            transition: $transition;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px;
            .side-links{
                .right-hide-btn{
                    position: absolute;    
                    font-size: 16px; width: 24px; height: 24px;
                    background-color: black;
                    display: flex!important;
                    align-items: center;
                    justify-content: center;
                    top: 20px; right: 20px;
                }
            }
        }
        &-content{
            margin-left: 220px;
            border-bottom: 1px solid rgba(176, 176, 176, 0.4);
            transition: $transition;
            height: 72px;
            padding: 0 2rem;
        }
        &-left{
            position: fixed;
            top: 0; left: 0;
            border-right: 1px solid rgba(176, 176, 176, 0.4);
            height: 100%; width: 220px;
            transition: $transition;
            z-index: 999;

            .avt{
                position: relative;
                &-act{
                    bottom: -3px;
                    right: 3px;
                    position: absolute;
                    background-color: green;
                    width: 12px; height: 12px; border-radius: 50%;
                }
                &-img{
                    width: 40px;
                    height: 40px; 
                    border-radius: 50%;
                }
            }
        }
        &-right{
            position: fixed;
            top: 0; right: 0;
            border-bottom: 1px solid rgba(176, 176, 176, 0.4);
            height: 100%; width: 280px;
            transition: $transition;
            transform: translateX(100%);
            z-index: 999;
        }
    }
    .large{
        margin-left: 220px;
        transition: $transition;
    }
    .small{
        margin-left: 60px;
        transition: $transition;
    }
}